$color: yellow;
$body-color: blue;

ul {
	font-size: 14px;
	color: $color;
}

body {
	background-color: $body-color;
	color: white;
}

.col-9 {
	background-color: orange;
	h2 {
	color: $color;
	font-weight: bold;
	}
}


footer > ul {
	color: blue;
	font-weight: bold;
}

#DIRECTORY {
	a:hover {
		color: yellow;
		display: inline-block;
		background-color: darkblue;
	}
}

