$color: brown;
$body-color: darkgreen;

ul {
	font-size: 14px;
	color: $color;
}

body {
	background-color: $body-color;
	color: white;
}

.col-9 {
	background-color: orange;
	h2 {
	color: $color;
	font-weight: bold;
	}
}

.container {

}

footer > ul {
	color: blue;
	font-weight: bold;
}
