$color: violet;
$body-color: pink;
$back-color: orange;
$body-font-color: white;
$ffamily: "Lucida Console";

ul, ol {
	font-size: 14px;
	color: $color;
}

body {
	background-color: $body-color;
	color: $body-font-color;
}

.col-9 {
	background-color: $back-color;
	h2 {
	color: $color;
	font-weight: bold;
	}
}

footer > ul {
	color: blue;
	font-weight: bold;
}

h2 {
	font: {
		family: $ffamily;
		weight: bold;
	}
}

#Directory {
	a:hover {
		color: yellow;
		display: inline-block;
		background-color: darkblue;
	}
}

%highlights {
	font-weight: bold;
	font-size: 20px;
	font-family: $ffamily;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.hardware {
	color: silver;
	@extend %highlights;
}

.software {
	color: lightgreen;
	@extend %highlights;
}

.competitors {
	color: darkred;
	@extend %highlights;
}



